[Unit]
Description=Run Calyx kernel module auto-updater weekly
Persistent=true

[Timer]
# 每周日凌晨 03:30 自动检测是否有新内核
OnCalendar=Sun *-*-* 03:30:00
RandomizedDelaySec=600

[Install]
WantedBy=timers.target
