[Unit]
Description=Sync NVIDIA system drivers with Flatpak runtime and update system Flatpaks
After=network-online.target flatpak-system-helper.service
Wants=network-online.target
ConditionPathExists=/sys/module/nvidia/version
ConditionPathExists=/run/ostree-booted

[Service]
Type=oneshot
ExecStart=/usr/bin/ublue-nvidia-flatpak-runtime-sync
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
